.login-button{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.nave-section{
  display: flex;
  justify-content: center;
}

.menu{
  display: flex;
  list-style-type: none;
}

.menu li{
  padding: 10px;
}

.meue-section{
  display: flex;
  justify-content: center;
}

.input-box{
  border: none;
}

.search-box{
  
    border-bottom: 1px solid black;
    position: absolute;
    right: 20px;
    padding: 5px;
  
  
}



.nav-bar{
  margin: 40px;
}


.product-section{
 margin-bottom: 60px;
 border: none;
 

}

.product-section:hover{
  
  transform: scale(1.2);
}

.img-section{
width: 295px;

}

.img-detail{
  display: flex;
  justify-content: end;
}

.size{
  width: 200px;
}

.img-button{
  cursor: pointer;
}
